.third-page-1 {
    font-family: Roboto;
    color: white;
    position: relative;
    z-index: 0;
    height: 630px;
    overflow: hidden;
}
.third-page-1-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.third-page-1-title {
    position: absolute;
    top: 50px;
    right: 15%;
    transform: translateX(0);
    z-index: 10;
    color: white;
    text-align: right;
}
.third-page-1-icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 150px;
    right: 18%;
    z-index: 10;
}
.first-icon {
    height: 40px;
    padding-right: 10px;
}
.third-page-p1 {
    padding-right: 60px;
}
.second-icon {
    height: 40px;
    padding-right: 10px;
}
.third-page-paragraph {
    position: absolute;
    padding-top: 200px;
    right: 10%;
    left: 35%;
    line-height: 1.7;
    letter-spacing: 0.5;
    z-index: 10;
    text-align: justify;
}

@media (max-width: 1200px) {
  .third-page-1-title {
    right: 10%;
  }

  .third-page-1-icons {
    right: 12%;
  }

  .third-page-paragraph {
    left: 30%;
    right: 8%;
  }
}

@media (max-width: 900px) {
  .third-page-1-title {
    right: 5%;
    font-size: 24px;
  }

  .third-page-1-icons {
    right: 8%;
    flex-wrap: wrap;
  }

  .third-page-paragraph {
    left: 20%;
    right: 5%;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .third-page-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .third-page-1-title {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    text-align: center;
    margin-top: 40px;
  }

  .third-page-1-icons {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    justify-content: center;
    margin-top: 20px;
  }

  .third-page-paragraph {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 10%;
    text-align: center;
    margin-top: 20px;
  }
}
